#affixNav {
    width: 263px;
    margin-top: 10px;
}
#affixNav .nav > li > a {
    display: block;
    padding: 4px 20px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

#affixNav .nav > .active > a, #affixNav .nav > li > a:hover {
    padding-left: 18px;
    font-weight: 700;
    color: #2fbba3;
    background-color: transparent;
    border-left: 2px solid #2fbba3;
}

#affixNav .nav .nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 15px;
    font-weight: 400;
}
li > p {
    font-size: 14px;
}
p {
    font-size: 16px;
}
.lb {
    font-size: 12px;
}
.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 1em;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
}

.back-to-top:hover {
    background-color: rgba(135, 135, 135, 0.50);
}