.gradle/
brut.apktool.smali/baksmali/build*
brut.apktool.smali/build*
brut.apktool.smali/dexlib/build*
brut.apktool.smali/smali/build*
brut.apktool.smali/util/build*
brut.apktool/apktool-cli/build*
brut.apktool/apktool-lib/build*
brut.apktool/build*
build*
*~
