# Gradle
.gradle/
bin/

# Build
**/build/

# Eclipse
**/nbproject/private/
*.project
*.classpath
*.settings
*.setting

# Tmp Files
*.kate-swp
*~
*.DS_Store

# IntelliJ
*.iml
.idea/*
**/out/

# Patches
*.patch