{
    "overrides": [
        {
            "files": "*.js",
            "options": {
                "arrowParens": "avoid",
                "bracketSpacing": false,
                "bracketSameLine": true,
                "printWidth": 80,
                "singleQuote": true,
                "trailingComma": "es5",
                "endOfLine": "auto"
            }
        },
        {
            "files": "*.md",
            "options": {
                "arrowParens": "avoid",
                "bracketSpacing": false,
                "bracketSameLine": true,
                "printWidth": 66,
                "proseWrap": "preserve",
                "singleQuote": true,
                "trailingComma": "all",
                "endOfLine": "auto"
            }
        },
        {
            "files": ["*.scss", "*.css"],
            "options": {
                "printWidth": 80,
                "endOfLine": "auto"
            }
        },
        {
            "files": "*.mdx",
            "options": {
                "endOfLine": "auto"
            }
        },
        {
            "files": "*.yml",
            "options": {
                "endOfLine": "auto"
            }
        }
    ]
}
