---
layout: default
---
<div class="jumbotron">
    <div class="container">
        <h3 style="text-align: center;">A tool for reverse engineering Android apk files</h3>
{% highlight terminal %}
$ apktool d test.apk
I: Using Apktool 2.6.1 on test.apk
I: Loading resource table...
I: Decoding AndroidManifest.xml with resources...
I: Loading resource table from file: 1.apk
I: Regular manifest package...
I: Decoding file-resources...
I: Decoding values */* XMLs...
I: Baksmaling classes.dex...
I: Copying assets and libs...
I: Copying unknown files...
I: Copying original files...
$ apktool b test
I: Using Apktool 2.6.1 on test
I: Checking whether sources has changed...
I: Smaling smali folder into classes.dex...
I: Checking whether resources has changed...
I: Building resources...
I: Building apk file...
I: Copying unknown files/dir...
{% endhighlight %}
    </div>
</div>
<div class="container">
    {{ content }}
</div>
