name: Gradle Validate
on:
  push:
    branches:
      - master
    paths:
      - 'gradle/wrapper/gradle-wrapper.jar'
  pull_request:
    paths:
      - 'gradle/wrapper/gradle-wrapper.jar'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  validate-gradle-wrapper:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 17
      - uses: gradle/actions/wrapper-validation@v4.4.2
